.react-calendar__navigation {
    background-color: #1087ff; /* Replace with your desired color */
  }
  
  /* This targets the buttons (arrows) inside the navigation bar */
  .react-calendar__tile {
    color: black; /* Change the color to black or any other color that is visible against your calendar's background */
}
  .react-calendar__month-view__days__day--weekend {
    color: #d10000;
  }