body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Montserrat',
    monospace;
}

img {
  width: 75%; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px; /* Adjust padding as needed */
}

.navtab {
  position: fixed;
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

.profilelink, .confirmlink, .searchlink {
  padding-top: 5vw;
  padding-bottom: 5vw;
  width: 33.33333333%;
  text-align: center;
}

#link1, #link2, #link3 {
  text-decoration: none;
  color: black;
}

.profilelink {
  background-color: blue;
}

.searchlink {
  background-color: green;
}

.confirmlink {
  background-color: red;
}

.confirm {
  display: flex;
  flex-direction: column;
}

.confirmnavtab {
  width: 100vw;
  top: 10%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

.sentlink, .confirmlink, .receivedlink {
  padding-top: 5vw;
  padding-bottom: 5vw;
  width: 33.33333333%;
  text-align: center;
}

.sentlink {
  background-color: blue;
}

.receivedlink {
  background-color: green;
}

.confirmlink {
  background-color: red;
}


input {
  display: block;
  width: 310px;
  padding: 6px;
  border-radius: 6px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  border: 3px solid black;
  margin-bottom: 14px;
}

button {
  display: block;
  padding: 14px;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  background-color: black;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

#login a, #register a {
  color: black;
  font-weight: bold;
}

.error {
  padding: 9px;
  border-radius: 3px;
  background-color: pink;
}