/* App.css */

.App {
  font-family: 'Montserrat', sans-serif;
  /* background-color: #f1faee; */
  /* Lightest color for the background */
  color: #1d3557;
  /* Dark blue for text */
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 10px; */
  background-color: #457b9d;
  /* Medium blue for header */
  color: white;
}

.header-container img {
  height: 45px;
  /* Adjust as needed */
  width: auto;
}

.logoutlink .btn-primary {
  background-color: #e63946;
  /* Accent color for logout button */
  border: none;
}


.navtab {
  position: fixed;
  font-size: 0.9em;
  /* Fixing the navbar to a position */
  bottom: 0;
  /* Aligning it to the bottom of the screen */
  left: 0;
  width: 100%;
  /* Ensuring it spans the full width of the screen */
  display: flex;
  justify-content: space-around;
  background-color: #a8dadc;
  /* Light blue for navigation tab */
  padding: 10px 0;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  /* Optional: Adding a subtle shadow for depth */
  z-index: 1000;
  /* Ensures the navbar is above other content */
}

.navtab div {
  flex: 1;
  text-align: center;
}

.navtab a {
  color: #1d3557;
  /* Dark blue for links */
  text-decoration: none;
  font-size: 1.1em;
}

.navtab a:hover {
  color: #ffffff;
  /* White text for high contrast */
  background-color: #1d3557;
  /* Dark blue background for standout effect */
  padding: 10px;
  /* Add some padding for a button-like appearance */
  border-radius: 4px;
  /* Rounded corners for a smooth look */
  font-weight: bold;
  /* Make the font bold */
  text-decoration: none;
  /* Remove underline */
  transition: all 0.3s ease;
  /* Smooth transition for hover effect */
}


.navtab .profilelink,
.navtab .searchlink,
.navtab .confirmlink {
  padding: 10px;
}

/* FontAwesome Icon Styles */
.navtab .faIcon {
  margin-right: 5px;
  color: #e63946;
  /* Accent color for icons */
}