/* App.css */

.App {
  font-family: 'Montserrat', sans-serif;
  /* background-color: #f1faee; */
  /* Lightest color for the background */
  background-color:rgb(248, 250, 252);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 10px; */
  background-color: rgb(245, 130, 30);
  /* Medium blue for header */
  color: white;
  padding-bottom: 3%;
}

.header-container img {
  height: 45px;
  /* Adjust as needed */
  width: auto;
}

.logoutlink .btn-primary {
  background-color: rgb(30, 56, 119);
  /* Accent color for logout button */
}

.navtab {
  position: fixed;
  font-size: 1.1em;
  /* Fixing the navbar to a position */
  bottom: 0;
  /* Aligning it to the bottom of the screen */
  left: 0;
  width: 100%;
  /* Ensuring it spans the full width of the screen */
  display: flex;
  justify-content: space-around;
  background-color: rgb(245, 130, 30);
  color: #ffffff;
  padding: 10px;
  text-decoration: none; 
}

.btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color: rgb(30, 56, 119) !important;
}

.navtab .profilelink,
.navtab .searchlink,
.navtab .confirmlink {
  padding: 10px;
  color: rgb(30, 56, 119);
  text-decoration: none; /* Remove default underline */
  transition: color 0.3s ease; /* Add smooth transition for text color */
}

.navtab .btn {
  padding: 10px;
  color: rgb(30, 56, 119);
  text-decoration: none;
  background-color: transparent;
  border: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.navtab .btn:hover,
.navtab .btn:focus,
.navtab .btn:active {
  background-color: rgb(30, 56, 119) !important;
  color: #ffffff;
  border: none; /* Remove border on hover, focus, or active */
  box-shadow: none;
}

/* FontAwesome Icon Styles */
.navtab .faIcon {
  margin-right: 5px;
  /* Accent color for icons */
}