.profile-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    padding: 1rem;
    max-width: 100%;
}

.preferences-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#avail-button, #location-button {
    margin-top: 20%;
    width: auto;
}

.profile-image-section {
    text-align: center;
}

.profile-picture {
    margin-right: 100%;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    background-color: #f3f3f3;
    margin-bottom: 1rem;
}

.profile-picture img {
    width: 100%;
    height: auto;
    border-radius: 50%;
}

input[type="file"] {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 1rem;
}

.profile-details {
    margin-left: 7.5%;
    flex-grow: 1;
}

.profile-details h1 {
    margin-bottom: 0.5rem;
}

.profile-details p,
.profile-details input[type="text"],
.profile-details button {
    margin-bottom: 1rem;
}

.profile-details input[type="text"] {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

button {
    padding: 0.5rem 1rem;
    background-color: #007bff;
    border: none;
    border-radius: 0.25rem;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.edit-button {
    display: block;
}

.bottom-line {
    width: 100%;
    height: 1px;
    background-color: #000;
    margin-top: .5rem;
}

#avail-modal, #loc-modal {
    top: 40%;
}

#daybutton {
    display: flex;
    flex-direction: column;
}