/* register.css */

#register {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #fff;
}

#register h1 {
    text-align: center;
    color: #1d3557;
    margin-bottom: 20px;
}

#register .error {
    color: #d9534f;
    background-color: #f2dede;
    border-color: #ebccd1;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    text-align: center;
}

#register input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #a8dadc;
    box-sizing: border-box;
}

#register button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #1d3557;
    /* Different color from login for distinction */
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#register button:hover {
    background-color: #457b9d;
    /* Darker shade on hover */
}

#register a {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #457b9d;
    text-decoration: none;
    transition: color 0.3s;
}

#register a:hover {
    color: #0056b3;
}